#navbar-main {
    background: linear-gradient(to right, #2c5196, #7ea4d0) !important;
}

#weather-img {
    max-width: 100%;
    height: auto;
}

/* Style for the time list */
.time-list {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  border: 1px solid #ccc; /* Border for the time list */
  padding: 5px; /* Padding to separate the border from items */
  border-radius: 5px; /* Soften the border corners */
}

/* Style for each time item */
.time-item {
  width: calc(100% / 12 - 10px); /* Calculate width for each item (minus margins) to fit 12 items per row */
  margin-right: 10px; /* Adjust spacing between squares */
  margin-bottom: 10px; /* Adjust spacing between rows */
  border: 1px solid #ccc; /* Border for each time item */
  padding: 5px; /* Padding to separate the border from content */
  border-radius: 5px; /* Soften the border corners */
}

/* Style for the degrees */
.degrees {
  width: 100%; /* Occupy the full width of the time item */
  height: 40px; /* Adjust height as needed */
  background: linear-gradient(to bottom, #ADD8E6, #6e8cb6); /* Soft blue gradient background */
  color: white; /* White text color */
  text-align: center;
  line-height: 40px; /* Center text vertically */
}

/* Style for the time */
.time {
  height: 20px; /* Adjust height as needed */
  font-size: 12px; /* Adjust font size as needed */
  text-align: center;
  font-weight: bold;
}

.forecast-list {
    display: flex;
    justify-content: center; /* Выравнивание блоков по центру */
    padding-top: 5px;
}

.forecast-item {
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin-right: 10px;
}

#next-days-forecast {
    text-align: center;
    padding-top: 3%;
}

#prev-days-forecast {
    text-align: center;
    padding-top: 5%;
}

#forecast {
    padding-bottom: 10%;
}