{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Search panel -->
<div id="search-div">
    <form class="d-flex" method="GET" action="{% url 'search_city' %}">
      <input class="form-control me-2" type="search" placeholder="Search Among European Cities"
             aria-label="Search" name="city">
      <button class="btn btn-outline-success search" type="submit">Search</button>
    </form>
</div>

<!-- bootstrap tabs -->
<div id="nav-tabs-div">
    <ul class="nav nav-tabs">
      <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">{{ today_forecast.city }}</a>
      </li>
    </ul>
</div>

<div class="container">
  <div class="row weather-container">
    <div class="col-md-4">
      <!-- Content for the first column -->
        <img src="{% static today_forecast.icon_src %}" alt="" id="weather-img">
    </div>
    <div class="col-md-8">
      <!-- Content for the second column -->
        <h2>Actual Weather {{ today_forecast.city }}: {{ today_forecast.date }} </h2>
        <p>
            <span class="temp">{{ today_forecast.mintemp }} - {{ today_forecast.maxtemp }}</span>
            <span class="temp-symbol">°C</span>
        </p>
        <p>{{ today_forecast.condition }}.</p>
        <p>Rain probability: {{ today_forecast.daily_chance_of_rain }}%</p>

        <div class="time-list">
            {% for hour in today_forecast.hourly %}
            <div class="time-item">
                {% for time, degrees in hour.items %}
                  <div class="degrees">{{ degrees }}°C</div>
                  <div class="time">{{ time }}</div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>

    </div>
  </div>
</div>

<hr>

{% if user.is_authenticated %}
<div class="container">
    <div id="forecast">
        <div class="col-md" id="next-days-forecast">
            <h2>Next Days</h2>
            <div class="forecast-list">
                <div class="forecast-item">
                    <div class="forecast-day">17.01.2024</div>
                    <div class="forecast-degrees">Monday</div>
                </div>
                <div class="forecast-item">
                    <div class="forecast-day">17.01.2024</div>
                    <div class="forecast-degrees">Monday</div>
                </div>
                <div class="forecast-item">
                    <div class="forecast-day">17.01.2024</div>
                    <div class="forecast-degrees">Monday</div>
                </div>
            </div>
        </div>

        <div class="col-md" id="prev-days-forecast">
            <div>
                <h2>Previous Days</h2>
            </div>

            <div class="forecast-list">
                <div class="forecast-item">
                    <div class="forecast-day">17.01.2024</div>
                    <div class="forecast-degrees">Monday</div>
                </div>
                <div class="forecast-item">
                    <div class="forecast-day">17.01.2024</div>
                    <div class="forecast-degrees">Monday</div>
                </div>
                <div class="forecast-item" >
                    <div class="forecast-day">17.01.2024</div>
                    <div class="forecast-degrees">Monday</div>
                </div>
                <div class="forecast-item">
                    <div class="forecast-day">17.01.2024</div>
                    <div class="forecast-degrees">Monday</div>
                </div>
                <div class="forecast-item">
                    <div class="forecast-day">17.01.2024</div>
                    <div class="forecast-degrees">Monday</div>
                </div>
                <div class="forecast-item">
                    <div class="forecast-day">17.01.2024</div>
                    <div class="forecast-degrees">Monday</div>
                </div>
                <div class="forecast-item">
                    <div class="forecast-day">17.01.2024</div>
                    <div class="forecast-degrees">Monday</div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endif %}

{% endblock %}