{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home Page</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<!-- Fixed navbar -->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" id="navbar-main">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Your Weather</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
<!--      <ul class="navbar-nav me-auto mb-2 mb-md-0">-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link active" aria-current="page" href="#">Home</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="#">Link</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>-->
<!--        </li>-->
<!--      </ul>-->
<!--      <form class="d-flex">-->
<!--        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">-->
<!--        <button class="btn btn-outline-success" type="submit">Search</button>-->
<!--      </form>-->
        <div class="ms-auto">
            <button class="btn btn-outline-light me-2">Sign in</button>
            <button class="btn btn-outline-light">Sign up</button>
        </div>
    </div>
  </div>
</nav>

<!-- bootstrap tabs -->
<div id="nav-tabs-div">
    <ul class="nav nav-tabs">
      <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">{{ today_forecast.city }}</a>
      </li>
    </ul>
</div>

<div class="container">
  <div class="row weather-container">
    <div class="col-md-4">
      <!-- Content for the first column -->
        <img src="{% static today_forecast.icon_src %}" alt="" id="weather-img">
    </div>
    <div class="col-md-8">
      <!-- Content for the second column -->
        <h2>Actual Weather {{ today_forecast.city }}: {{ today_forecast.date }} </h2>
        <p>
            <span class="temp">{{ today_forecast.mintemp }} - {{ today_forecast.maxtemp }}</span>
            <span class="temp-symbol">°C</span>
        </p>
        <p>{{ today_forecast.condition }}.</p>
        <p>Rain probability: {{ today_forecast.daily_chance_of_rain }}%</p>

        <div class="time-list">
            {% for hour in today_forecast.hourly %}
            <div class="time-item">
                {% for time, degrees in hour.items %}
                  <div class="degrees">{{ degrees }}°C</div>
                  <div class="time">{{ time }}</div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>

    </div>
  </div>
</div>

<hr>

<div class="container">
    <div id="forecast">
        <div class="col-md" id="next-days-forecast">
            <h2>Next Days</h2>
            <div class="forecast-list">
                <div class="forecast-item">
                    <div class="forecast-day">17.01.2024</div>
                    <div class="forecast-degrees">Monday</div>
                </div>
                <div class="forecast-item">
                    <div class="forecast-day">17.01.2024</div>
                    <div class="forecast-degrees">Monday</div>
                </div>
                <div class="forecast-item">
                    <div class="forecast-day">17.01.2024</div>
                    <div class="forecast-degrees">Monday</div>
                </div>
            </div>
        </div>

        <div class="col-md" id="prev-days-forecast">
            <div>
                <h2>Previous Days</h2>
            </div>

            <div class="forecast-list">
                <div class="forecast-item">
                    <div class="forecast-day">17.01.2024</div>
                    <div class="forecast-degrees">Monday</div>
                </div>
                <div class="forecast-item">
                    <div class="forecast-day">17.01.2024</div>
                    <div class="forecast-degrees">Monday</div>
                </div>
                <div class="forecast-item" >
                    <div class="forecast-day">17.01.2024</div>
                    <div class="forecast-degrees">Monday</div>
                </div>
                <div class="forecast-item">
                    <div class="forecast-day">17.01.2024</div>
                    <div class="forecast-degrees">Monday</div>
                </div>
                <div class="forecast-item">
                    <div class="forecast-day">17.01.2024</div>
                    <div class="forecast-degrees">Monday</div>
                </div>
                <div class="forecast-item">
                    <div class="forecast-day">17.01.2024</div>
                    <div class="forecast-degrees">Monday</div>
                </div>
                <div class="forecast-item">
                    <div class="forecast-day">17.01.2024</div>
                    <div class="forecast-degrees">Monday</div>
                </div>
            </div>

        </div>
    </div>
</div>

<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <span class="text-muted">Place sticky footer content here.</span>
  </div>
</footer>


</body>
</html>